@{
	ViewData["Title"] = "Barangay";
	ViewData["Title2"] = "Data References";
	ViewData["Module"] = "List of Barangay";
	KTTheme.AddVendors(new string[] { "amcharts", "amcharts-maps", "amcharts-stock" });

	KTTheme.AddJavascriptFile("js/custom/Location/Barangay/Barangay/AddUpdate.js");
	KTTheme.AddJavascriptFile("js/custom/Location/Barangay/Barangay/Detail.js");
	KTTheme.AddJavascriptFile("js/custom/Location/Barangay/Barangay/Export.js");
	KTTheme.AddJavascriptFile("js/custom/Location/Barangay/Barangay/Ledger.js");
}

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container">
		<!--begin::Card-->
		<div class="card">
			<!--begin::Card header-->
			<div class="card-header border-0 pt-6">

				<!--begin::Card title-->
				<div class="card-title">
					<!--begin::Search-->
					<div class="d-flex align-items-center position-relative my-1">
						<i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
							<span class="path1"></span>
							<span class="path2"></span>
						</i>

						<input type="text" data-kt-barangay-table-search="search" class="form-control bg-transparent border border-primary border-hover border-active active w-250px ps-13" placeholder="Search" id="searchInput" />

						<span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2">
							<i class="fas fa-times-circle position-absolute me-2" id="clearButton" style="cursor: pointer; display: none;"></i>
						</span>
					</div>
					<!--end::Search-->
				</div>
				<!--begin::Card title-->
				<!--begin::Card toolbar-->
				<div class="card-toolbar">

					<!--begin::Toolbar-->
					<div class="d-flex justify-content-end" data-kt-barangay-table-toolbar="base">
						<!--begin::Filter-->
						<button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
							<i class="ki-duotone ki-filter fs-2">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>Filter
						</button>

						<!--begin::Menu Filter-->
						<div class="menu menu-sub menu-sub-dropdown w-500px w-md-500px" data-kt-menu="true">

							<!--begin::Header-->
							<div class="px-7 py-5">
								<div class="fs-5 text-dark fw-bold">Filter Options</div>
							</div>
							<!--end::Header-->
							<!--begin::Separator-->
							<div class="separator border-gray-200"></div>
							<!--end::Separator-->
							<!--begin::Content-->
							<div class="px-7 py-5" data-kt-region-table-filter="form">
								<div class="fv-row mb-3">
									<!--begin::Label-->
									<!--begin::Input group-->
									<div class="mb-10">
										<label class="form-label fs-6 fw-semibold">City:</label>
										<select id="cityDropdown" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-barangay-table-filter="barangay-city" data-hide-search="true">
											<option></option>
										</select>
									</div>
									<!--end::Input group-->
									<!--end::Input-->
								</div>
								<!--end::Input group-->
								<div class="fv-row mb-3">
									<!--begin::Label-->
									<!--begin::Input group-->
									<div class="mb-10">
										<label class="form-label fs-6 fw-semibold">Province:</label>
										<select id="provinceDropdown" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-barangay-table-filter="barangay-province" data-hide-search="true">
											<option></option>
										</select>
									</div>
									<!--end::Input group-->
									<!--end::Input-->
								</div>
								<!--end::Input group-->
								<!--end::Input group-->
								<div class="fv-row mb-3">
									<!--begin::Label-->
									<!--begin::Input group-->
									<div class="mb-10">
										<label class="form-label fs-6 fw-semibold">Region:</label>
										<select id="regionDropdown" class="form-select fw-bold bg-transparent border border-primary border-hover border-active active" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-barangay-table-filter="barangay-region" data-hide-search="true">
											<option></option>
										</select>
									</div>
									<!--end::Input group-->
									<!--end::Input-->
								</div>
								<!--end::Input group-->
								<!--begin::Actions-->
								<div class="d-flex justify-content-end">
									<button type="reset" class="btn btn-light btn-active-light-primary fw-semibold me-2 px-6" data-kt-barangay-table-filter="reset">Reset</button>
									<button type="submit" class="btn btn-primary fw-semibold px-6" data-kt-menu-dismiss="true" id="submitFilter" data-kt-barangay-table-filter="filter">Apply</button>
								</div>
								<!--end::Actions-->

							</div>
							<!--end::Content-->
						</div>
						<!--end::Menu Filter-->
						<!--end::Filter-->
						<!--begin::Export-->
						<button type="button" class="btn btn-light-primary me-3" data-kt-barangay-table-filter="export_barangay">
							<i class="ki-duotone ki-exit-up fs-2">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>Export
						</button>
						<!--end::Export-->
						<!--begin::Add Barangay-->
						<button type="button" class="btn btn-primary" data-kt-barangay-table-filter="add_barangay">
							<i class="ki-duotone ki-plus fs-2"></i>Add Barangay
						</button>
						<!--end::Add Barangay-->

					</div>
				</div>
				<!--end::Card toolbar-->
			</div>
			<!--end::Card header-->
			<!--begin::Separator-->
			<div class="separator border-gray-200"></div>
			<!--end::Separator-->
			<!--begin::Card body-->
			<div class="card-body py-4">
				<!--begin::Table-->
				<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_barangay">
					<thead>
						<tr class="text-start text-center text-gray-800 fw-bold fs-7 text-uppercase gs-0">
							<th class="text-end min-w-100px">Actions</th>
							<th class="w-10px pe-2 text-center ">Edit</th>
							<th class="min-w-400px text-center ">Barangay Name</th>
							<th class="min-w-400px text-center ">City Name</th>
							<th class="min-w-400px text-center ">Province Name</th>
							<th class="min-w-400px text-center ">Region Name</th>
							<th class="min-w-250px text-center ">Encoded By</th>
							<th class="min-w-150px text-center ">Date Encoded</th>
							<th class="w-10px pe-2 text-center ">Delete</th>
						</tr>
					</thead>
					<tbody class="text-gray-600 fw-semibold textal">
					</tbody>
				</table>
				<!--end::Table-->
			</div>
			<!--end::Card body-->

		</div>
		<!--end::Card-->
		<!--end::Card Page-->
	</div>
	<!--end::Content container-->
</div>
<!--end::Content-->
@await Html.PartialAsync(KTTheme.GetPageView("Location\\Barangay\\Modal", "AddUpdate.cshtml"))
@await Html.PartialAsync(KTTheme.GetPageView("Location\\Barangay\\Modal", "Export.cshtml"))
@await Html.PartialAsync(KTTheme.GetPageView("Location\\Barangay\\Journal", "Journal.cshtml"))